body {
  font-family: Arial;
  font-size: 17px;
  padding: 8px;
  background-image: url(image/veg_rendeles_ph.jpg);
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%;
  /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%;
  /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%;
  /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 20px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 20px;
}

label {
  margin-bottom: 10px;
  display: block;
}


.btn {
  background-color: #04AA6D;
  color: white;
  border: none;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #45a049;
}

hr {
  border: 1px solid lightgrey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
      flex-direction: column-reverse;

  }

  .col-25 {
      margin-bottom: 20px;
  }
}

.card2 {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-content: center;
  width: 40%;
  align-items: center;
  background-color: aqua;

}

.container2 {
  padding: 2px 16px;
  max-width: 960px;

}

.card {
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  align-content: center;
  background-color: #36f46f;
  width: 100%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}


h2 {
  margin: auto;
}

.lh-condensed {
  line-height: 1.25;
}

.del {
  height: 50px;
  width: 50px;
  cursor: pointer;
  transition: opacity 1s;
}